#discount-data-container{
    width:380px;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:50px;
    padding:10px;
}

#result-text-container{
    /* background-color: blue; */
    padding-left:10px;

}

#result-text{
    font-size: 18px;
}

.discount-text-container{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:20px 20px 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(196, 192, 192, 0.434), 0 6px 20px 0 rgba(196, 192, 192, 0.434);
    border-radius: 15px;
    background-color: white;
    transition-delay: 5s;
}

#discountPriceContainer{
    animation: bubbly-pop 1s backwards;
    animation-delay: 0.1s;
}

#amountSavedContainer{
    animation: bubbly-pop 1s backwards;
    animation-delay: 0.4s;
}

@keyframes bubbly-pop {
    0%{
        
        will-change: opacity scale;
        scale:1;
        opacity:0;
    }

    50%{
        will-change: opacity, scale;
        opacity: 0.5; scale:1.2;
    }

    100%{
        will-change: opacity, scale;
        scale: 1; opacity: 1;
    }
}


 .money-amt{
    font-size: 20px;
    font-weight: 600;
 }

 #new-price{
    color: var(--blue-theme);
 }

#amt-saved{
    color: var(--green-theme);
}

 .discount-sub-txt{
    margin-top:10px;
    font-size: 18px;
    font-weight: 600;
    color:var(--dark-grey);
 }

.blue-theme{
    color:var(--blue-theme);
    background: none;
 }

 .green-theme{
    color:var(--green-theme);
    background: none;
 }



 @media(max-width:858px){
    p{
        
        /* justify-content: center; */
    }

}