

#input-boxes-container{
    margin-top:5px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
   
}

#price-input-container{
    width: 350x;
    padding:20px;
    display: flex;
    border: solid 2px transparent;
    background-color: var(--input-background);
    
    border-radius: 50px;
}

#percent-input-container{
    width: 350px;
    padding:20px;
    display: flex;
    border: solid 2px transparent;
    background-color: var(--input-background);
    border-radius: 50px;
}



.input-box{
    width: 300px;
    background-color: transparent;
    border-radius: 50px;
    border:none;
    outline: none;
    font-size: 20px;
   
    padding-left:10px;
}

#percent-select{
    border-radius: 50px;
    width:50px;
}

select{
    
    background-color: var(--input-background);
    border:none;
}




@media(max-width:858px){

    .input-box{
        width: 300px;
        font-size: 20px;
        padding-left:10px;
    }

    i{
        font-size:16.66px;
    }
    #price-input-container,#percent-input-container{
        width: 350px;
        padding:20px;

    }

    #input-boxes-container{
        margin-top:5px;
       
    }
}


@media(max-width:400px){

    .input-box{
        font-size:16.66px;
    }
    #price-input-container{
        width: 300px;

    }

    #percent-input-container{
        width: 300px;
    
        
    }

}
