header{
    padding: 0 20px;
    display: flex;
    height:60px;
    justify-content: space-between;
    /* border-bottom: solid var(--discount-container-bckgnd); */
}


#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    padding-left: 5px;
    font-weight: bold;
    
}
#logo a{
    text-decoration: none;
    color: var(--dark-grey);
}



#desktop-list-container{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.desktop-anchor{
    color:var(--dark-grey);
}

.desktop-li{
    padding: 5px;
    margin-left: 10px;
}

.desktop-li:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3;
}



@media only screen and (max-width:600px) {
    #desktop-nav{
        display: none;
    }
    
}

@media only screen and (min-width:600px) {
    #mobile-nav{
        display: none;
    }
    
}