#discount-data-container{
    width:380px;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:30px;
    padding:10px;
    /* background-color: red; */
}

#result-text-container{
    /* background-color: blue; */
    padding-left:10px;
}

#result-text{
    font-size: 22px;
}

#discount-text-container{
    margin-top: 5px;
    padding:15px;
    border: 1px solid var(--container-border);
    border-radius: 15px;
}

#discount-txt{
    color: var(--dark-grey);
    font-size: 18px;
 } 

 @media(max-width:858px){
    p{
        
        /* justify-content: center; */
    }

}