#discount-data-container{
    width:380px;
    height:80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:55px;
    padding:10px;
}

#result-text-container{
    /* background-color: blue; */
    padding-left:10px;

}

#result-text{
    font-size: 18px;
}

.discount-text-container{
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px 20px 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(196, 192, 192, 0.434), 0 6px 20px 0 rgba(196, 192, 192, 0.434);
    border-radius: 15px;
    background-color: white;
    animation: scroll-fade 1s;
    animation-duration: 1;
}

@keyframes scroll-fade {
    from{
        will-change: opacity, transform;
        opacity:0;
        transform: translateY(4vh);
    }

    to{
        will-change: opacity, transform;
        opacity: 1;  transform:0;
    }
}


 .money-amt{
    font-size: 20px;
    font-weight: 600;
 }

 #new-price{
    color: var(--blue-theme);
 }

#amt-saved{
    color: var(--green-theme);
}

 .discount-sub-txt{
    margin-top:10px;
    font-size: 18px;
    font-weight: 600;
    color:var(--dark-grey);
 }

.blue-theme{
    color:var(--blue-theme);
    background: none;
 }

 .green-theme{
    color:var(--green-theme);
    background: none;
 }



 @media(max-width:858px){
    p{
        
        /* justify-content: center; */
    }

}