
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Oswald:wght@200..700&display=swap');


:root {
    --grey-black: hsl(0, 0%, 35%);
    --dark-grey: hsl(0, 0%, 20%);
    --input-background: hsl(0, 0%, 95%);
  }

#title{
    margin-top:80px;
    text-align: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

#space{
    padding:5px;
}

#input-boxes-container{
    margin-top:30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#price-input-container{
    width: 200px;
    padding:9px;
    display: flex;
    border: solid 2px transparent;
    background-color: var(--input-background) ;
    
    border-radius: 50px;
}

#percent-input-container{
    width: 200px;
    padding:9px;
    display: flex;
    border: solid 2px transparent;
    background-color: var(--input-background);
    border-radius: 50px;
}



.input-box{
    width: 130px;
    background-color: transparent;
    border-radius: 50px;
    border:none;
    outline: none;
    font-size: 17px;
    color: var(--grey-black);
}


.material-symbols-outlined{
    color: var(--grey-black);
    width:30px;
}



span{
   padding:5px;
}
#discount-data-container{
    width:380px;
    height:300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:30px;
    padding:10px;
}

p{
   font-size: 25px;
   display: flex;
padding: 5px;

}



/* Button Styling */
#clear-form-btn,#submit-form-btn{
    width: 100px;
    padding: 6px;
    font-size:18px;
}

#clear-form-btn{
    width: 70px;
    background-color: hsl(0, 0%, 86%);
}

#submit-form-btn{
    background-color: hsl(211, 100%, 49.4%);
    color:white;
}   

#submit-form-btn:hover{
    background-color: hsl(211, 100%, 55%);
    cursor: pointer;
}

#submit-form-btn:active{
    background-color: hsl(211, 100%, 60%);
}

.form-btns-container{
    margin-top: 20px;
    /* max-width: fit-content; */
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
}


button{
    padding:5px;
    border-radius: 20px;
    border:none;
}


@media(max-width:858px){

    .input-box{
        width: 300px;
        font-size: 20px;
        padding-left:10px;
    }

    #price-input-container,#percent-input-container{
        width: 350px;
        padding:20px;

    }



    #clear-form-btn,#submit-form-btn{
        width: 160px;
        padding: 15px;
        font-size:20px;

    }

    .form-btns-container{
        width:380px;
        /* background-color: red; */
        display: flex;
        /* justify-content: flex-end; */
    }

   

    p{
        
        /* justify-content: center; */
    }

    




}

