
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*{
    margin:0;
    padding:0;
}
form{
    width:300px;
    height:300px;
    text-align: center;
    display: block;
    margin:auto;
    margin-top: 100px;
    /* background-color:red; */
    padding:30px;
}

#space{
    padding:10px;
}



.input-box{
    padding:10px 50px 10px 30px;
    border-radius: 50px;
    border: solid 2px black;
    width: 40%;
    display: inline-block;
    font-size: 15px;
}

.fa-dollar-sign{
    position:relative;
    top:1px;
    left:30px;
}

.fa-percent{
    position:relative;
    top:1px;
    left:180px;
}

#form-btns-container{
    margin-top: 30px;
}




.hidden{
    display: none;
}
