
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Oswald:wght@200..700&display=swap');


:root {
    --grey-black: hsl(0, 0%, 35%);
    --dark-grey: hsl(0, 0%, 20%);
  }

#title{
    margin-top:80px;
    text-align: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

#space{
    padding:5px;
}

#input-boxes-container{
    margin-top:30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#price-input-container{
    width: 160px;
    display: flex;
    border: solid 1px transparent;
    background-color: hsl(0, 0%, 90%);
    padding:7px;
    border-radius: 50px;
}

#percent-input-container{
    width: 160px;
    display: flex;
    border: solid 1px transparent;
    background-color: hsl(0, 0%, 90%);
    padding:7px;
    border-radius: 50px;
}



.input-box{
    width: 115px;
    background-color: transparent;
    border-radius: 50px;
    border:none;
    outline: none;
    font-size: 15px;
    color: var(--dark-grey);
}


.material-symbols-outlined{
    color: var(--grey-black);
    width:30px;
}



span{
   padding:5px;
}

#discount-data{
    margin-top:30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

p{
   position:relative;
    left:-5px;
}


#clear-form-btn,#submit-form-btn{
    padding: 6px;
    font-size:15px;
}

#clear-form-btn{
    width: 70px;
    background-color: hsl(0, 0%, 83%);
}

#submit-form-btn{
    background-color: hsl(140, 52%, 55%);
    color:white;
}   

#submit-form-btn:hover{
    background-color: hsl(140, 52%, 60%);
    cursor: pointer;
}

#submit-form-btn:active{
    background-color: hsl(140, 52%, 65%);
}






.form-btns-container{
  
    margin-top: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


button{
    padding:5px;
    border-radius: 10px;
    border:none;
}







.hidden{
    display: none;
}
